@import url('../fonts/css/array.css');
@import url('../fonts/css/khand.css');

:root {
  --light-bg-color: #87ceeb;
  --dark-bg-color: #202023;
  --light-text-color: #002855;
  --dark-text-color: #ffffff;
  --accent-text-color: #8B8000;
}

/* Estilos generales */

body.dark-mode {
  background-color: var(--dark-bg-color);
  color: var(--dark-text-color);
}

body.light-mode {
  background-color: var(--light-bg-color);
  color: var(--light-text-color);
}

h1 .accent-color {
  color: var(--accent-text-color);
}